h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    width: 920px;
    margin: 0 auto;
}
#nota-principal {
    background-color:gray;
    border: 10px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}


#titulos h1 {font-size: 1.5em;}
#titulos h2 {font-size: 1.2em;}
#titulos h3 {font-size: 0.9em;}
#titulos h4 {font-size: 0.8em;}

#barra-navegacion {
    height: 50px;
    display: flex;
    justify-content: center;
    background-image: url(/imagenes/fondo_menu.png);
}

#barra-navegacion  li {
    display: inline-block;
    padding: 0px;
}


#barra-navegacion ul ul {
    display: none;
}

#barra-navegacion a {
   color: black;
    text-decoration: none;  
    background-color: darkgray;
    padding: 9px 20px;
    transition: 0.5px;
    margin: 1px;
}

#barra-navegacion ul {
    padding: 0;
    margin: 0;
}

#barra-navegacion >ul >li >a:hover {
    background-color: lightgray;
}

#encabezado {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#notas-secundarias {
    width: 660px;
    /*float: left;*/
    padding: 10px;
    min-height:260px;
}

#publicidad {
    width: 260px;
    /*float: right;*/
    padding: 5px;
    min-height: 200px;
}

#programas {
    height: 200px;
}
#programas>img{
    margin-left: 50px;
}
#ecabezado figure, #titulos *
{
    margin: 0;
}

figure{
    margin: 0;
}
/*
#logo-sep{
    float: left;
    margin-top: 31px;
    margin-right:10px;
}
#titulos *{
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav a{
    padding: 1px;
}

ul{border:10px;
padding:17px; }*/
#notas-secundarias article{
    display: flex;
    box-shadow:0px 2px 3px gray; 
    background-image: url(/imagenes/separador-nota-secundaria.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
figure{
     margin: 0 0 10px;
}
#notas-secundarias figure{
    position:relative;
}
#notas-secundarias figure span{
    position: absolute;
    top:10px;
    left: -10px;
    padding: 5px 20px;
    background-color: lightgray;
    box-shadow: 1px 1px 3px darkgray;
}
#notas-secundarias article div{
    padding-left: 20px;
    padding-right: 10px;
}
#notas-secundarias article div p{
    text-align: justify;
}
#notas-secundarias article h2{
    font-variant: small-caps;
    line-height: 0.8em;
    font-size: 1.8em;
}
#notas-secundarias a:hover{
    color: blue;
    text-decoration: underline;
}
#notas-secundarias a{
    color: firebrick;
    text-decoration: none;
}
.sombra-imagen{
    box-shadow: 0 0 5px darkgray;
}
.ver-mas div{
    margin: 0 !important;
    padding:2.5px 9px 2.5px 9px !important;
}
.ver-mas>div{
    display: inline-block;
    background-color: #b92025;
}
.ver-mas>div>div{
    display: inline-block;
    border:0.5px solid white;
    padding: 1px 20px;
}
.ver-mas p{
    text-align: center;
    color: white;
    font-weight: bold;
}
.p{
    padding-bottom:5px;
}
#flexible{
    display: flex;
}
.facebook,.twitter{
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
}
.facebook{
    background: url(/imagenes/facebook_twitter.png); 0 0;
}
.twitter{
    background: url(/imagenes/facebook_twitter.png) -43px 0;
}
.facebook:hover{
    background: url(/imagenes/facebook_twitter.png); 0 -43px;
}
.twitter:hover{
    background: url(/imagenes/facebook_twitter.png) -43px -43px;
}
#a{
    padding: 5px;
}