.container{
    width: 920px;
    margin: 0 auto;
}

#nota-principal {
    background-color: gray;
    border: 10px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin-top: 10px;
    
}


#titulos h1 {font-size: 1.5em;}
#titulos h2 {font-size: 1.2em;}
#titulos h3 {font-size: 0.9em;}
#titulos h4 {font-size: 0.8em;}

#barra-navegacion {
    height: 50px;
    display: flex;
    justify-content: center;
}


#barra-navegacion  li {
    display: inline-block;
    padding: 0;
    
}


#barra-navegacion ul ul {
    display: none;
}

#barra-navegacion a {
   color: black;
    text-decoration: none;  
    background-color: darkgray;
    padding: 10px 20px;
    transition: 0.5px;
}

#barra-navegacion ul {
    padding: 0;
}

#barra-navegacion >ul >li >a:hover {
    background-color: lightgray;
}

#encabezado {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#notas-secundarias {
    width: 660px;
    float: left;
    padding: 20px;
    background-color: darkcyan;
    height: 260px;
}

#publicidad {
    width: 210px;
    float: right;
    padding: 5px;
    background-color: firebrick;
    height: 290px;
}

#pie {
    clear: both;
    height: 150px;
    background-color: darkgreen;
}
#ecabezado figure, #titulos *
{
    margin: 0;
}

figure{
    margin: 0;
}
/*
#logo-sep{
    float: left;
    margin-top: 31px;
    margin-right:10px;
}
#titulos *{
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav a{
    padding: 1px;
}

ul{border:10px;
padding:17px; }*/